<div class="py-20 flex flex-col gap-6 lg:flex-row lg:container lg:justify-around">
    <div class="container flex flex-col items-center text-center space-y-6">
        <div class="bg-[url(/images/shared/desktop/bg-pattern-small-circle.svg)] bg-no-repeat bg-contain">
            <img src="~/images/shared/desktop/illustration-canada.svg" alt="Canada" />
        </div>
        <div class="space-y-4">
            <h2 class="uppercase font-medium">Canada</h2>
            <button class="btn-secondary uppercase" type="button">see location</button>
        </div>
    </div>

    <div class="container flex flex-col items-center text-center space-y-6">
        <div class="bg-[url(/images/shared/desktop/bg-pattern-small-circle.svg)] bg-no-repeat bg-contain">
            <img src="~/images/shared/desktop/illustration-australia.svg" alt="Australia" />
        </div>
        <div class="space-y-4">
            <h2 class="uppercase font-medium">australia</h2>
            <button class="btn-secondary uppercase" type="button">see location</button>
            </>
        </div>

    </div>

    <div class="container flex flex-col items-center text-center space-y-4">
        <div class="bg-[url(/images/shared/desktop/bg-pattern-small-circle.svg)] bg-no-repeat bg-contain">
            <img src="~/images/shared/desktop/illustration-united-kingdom.svg" alt="United kingdom" />
        </div>
        <div class="space-y-4">
            <h2 class="uppercase font-medium">united kingdom</h2>
            <button class="btn-secondary uppercase" type="button">see location</button>
        </div>
    </div>

</div>
